/*.title, .img-div {
    background-color: lightblue;
    border: 2px solid black;
}*/

.title {
    font-size: 3rem;
    
}

.title, span {
    font-family: "Sour Gummy", serif;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 0;
}

.img-div {
    height: 220px;
    border-radius: 15px;
    background-image: url(images/wut.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    cursor: pointer;
}
.img-div:hover {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
}

#businessgen {
    background-image: url(images/Generrate\ Now.svg);
}
#dashboardmania {
    background-image: url(images/dashboardmania.svg);
}